.insumos {
  margin-top: 0%;
  margin-bottom: 5%;
}
.encabezado-secundario {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "button-signup titulo espaciado";
  padding: 2% 0% 2% 0%;
  background-image: linear-gradient(rgb(46, 46, 46), black);
}
.button-signup {
  grid-area: button-signup;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  grid-area: titulo;
  text-align: center;
  color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}
.espaciado {
  grid-area: espaciado;
}

@media (max-width: 570px) {
  .encabezado-secundario {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "button-signup"
      "titulo";
    background-image: linear-gradient(rgb(26, 26, 26), black);
  }
  .titulo {
    grid-area: titulo;
    text-align: center;
    color: rgb(212, 212, 212);
    padding-top: 2%;
  }
}
