.signUp {
  transition: all 0.5s ease;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 2rem;
  width: 30rem;
  background-image: linear-gradient(silver, rgb(228, 227, 227), white);
}
.signUp:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.164);
}
.nombreUsuarioMargin {
  margin-top: 4%;
}
.centrar-button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpContainer {
  margin: 4% 0% 0% 0%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LinkLogin {
  text-decoration: none;
}
