.signUp {
  transition: all 0.5s ease;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 2rem;
  width: 30rem;
  background-image: linear-gradient(silver, rgb(228, 227, 227), white);
}
.signUp:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}
.nombreUsuarioMargin {
  margin-top: 4%;
}
.centrar-button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpContainer {
  margin: 4% 0% 0% 0%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LinkLogin {
  text-decoration: none;
}

.password {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.visibility {
  background-color: rgb(3, 151, 102);
  cursor: pointer;
  padding: 0.6% 1.5% 0.6% 1.5%;
  margin-left: 0.95%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.visibility:active {
  background-color: rgb(27, 180, 129);
}
.visibility i {
  font-size: 1.3rem;
  color: rgb(240, 238, 238);
}
.borderRadius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
