.espaciado-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5% auto 7% auto;
}
.titutlo-login {
  font-weight: bold;
  text-align: center;
  margin: 3% 1% 1% 1%;
  color: black;
}
