.ColPlantillaProducto {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0% 2% 4% 0%;
}

.gestionarPlanProLink {
  transition: all 0.3s ease;
  color: black;
  width: 451px;
  height: 22rem;
  border-radius: 7px;
  border: 1px solid rgb(241, 217, 179);
  background-image: radial-gradient(
    circle,
    rgb(235, 142, 3),
    rgb(201, 139, 45),
    rgb(207, 153, 71),
    rgb(207, 153, 71),
    rgb(214, 172, 109),
    rgb(212, 188, 152),
    white,
    rgb(212, 188, 152),
    rgb(214, 172, 109),
    rgb(207, 153, 71),
    rgb(207, 153, 71),
    rgb(201, 139, 45),
    rgb(235, 142, 3)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.gestionarPlanProLink:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}
.ColPlantillaInsumo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0% 0% 4% 2%;
}

.gestionarPlanInLink {
  transition: all 0.3s ease;
  color: black;
  width: 451px;
  height: 22rem;
  border: 1px solid rgb(241, 217, 179);
  border-radius: 7px;
  background-image: linear-gradient(
    to right bottom,
    rgb(235, 142, 3),
    rgb(201, 139, 45),
    rgb(207, 153, 71),
    rgb(207, 153, 71),
    rgb(214, 172, 109),
    rgb(212, 188, 152),
    white,
    rgb(212, 188, 152),
    rgb(214, 172, 109),
    rgb(207, 153, 71),
    rgb(207, 153, 71),
    rgb(201, 139, 45),
    rgb(235, 142, 3)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.gestionarPlanInLink:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}

.PlanProInDescrip {
  font-size: 2rem;
  text-align: center;
}
.cantidadProIn {
  transition: all 0.5s ease;
  text-align: center;
  background-image: linear-gradient(
    rgb(240, 137, 21),
    rgb(216, 128, 28),
    rgb(109, 31, 0)
  );
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
  color: rgb(204, 203, 203);
}
.cantidadProIn:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.377);
}

.mensaje-aviso {
  border: 3px solid rgba(247, 226, 40, 0.418);
  border-radius: 5px;
  width: 15rem;
  text-align: center;
}

/* Buscar Plantilla */
.widthButtonBuscarPlantilla {
  width: 30rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.315);
  border-radius: 5px;
}

.buttonBusqueda {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.borderRadiusBusqueda {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.borderRadiusButtonBusqueda {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* div de crear y buscar plantilla */
.crear-buscar-Pla-Pro_o_In {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "crear-Pla-Pro_o_In buscar-Pla-Pro_o_In espaciado";
  padding: 2% 0% 2% 0%;
}
.crear-Pla-Pro_o_In {
  grid-area: crear-Pla-Pro_o_In;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.buscar-Pla-Pro_o_In {
  grid-area: buscar-Pla-Pro_o_In;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.espaciado {
  grid-area: espaciado;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Eliminar Plantilla */
.DeletePlantilla {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.opcionesDelete {
  gap: 1.5rem;
}
.opcionesDeleteSombreado {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.315);
}
.opcionesDeleteSombreado:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}
