.backButton {
  transition: all 0.2s ease;
  border: none;
  background-image: linear-gradient(
    rgb(168, 241, 217),
    rgb(12, 194, 255),
    rgb(12, 164, 214),
    rgb(8, 121, 158),
    rgb(6, 72, 94)
  );
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.123);
}
.backButton:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.473);
}
.sizeArrow {
  font-size: 1.8rem;
  color: white;
}
