.signOut {
  padding: 1%;
}
.signOutIcon {
  font-size: 1.5rem;
  padding-left: 5%;
}
.signOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.315);
}

.signOutButton {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}
