.footer {
  margin: 0;
  padding: 2.5%;
  background-image: linear-gradient(rgb(46, 46, 46), black);
  font-family: "Bruno Ace", cursive;
  color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
  padding: 0;
  width: max-content;
}
