.login {
  transition: all 0.5s ease;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 2rem;
  width: 25rem;
  background-image: linear-gradient(silver, rgb(228, 227, 227), white);
}
.login:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.164);
}
.centrar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup {
  font-size: 0.8rem;
  margin: 4% 0% 0% 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.LinkSignUp {
  text-decoration: none;
}
.password {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.visibility {
  background-color: rgb(3, 151, 102);
  cursor: pointer;
  padding: 0.75% 2% 0.75% 1.5%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.visibility:active {
  background-color: rgb(27, 180, 129);
}
.visibility i {
  font-size: 1.3rem;
  color: rgb(240, 238, 238);
}
.borderRadius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
