.login {
  transition: all 0.5s ease;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 2rem;
  width: 25rem;
  background-image: linear-gradient(silver, rgb(228, 227, 227), white);
  cursor: pointer;
}
.login:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.164);
}
.centrar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
