.centrar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registrarProductoSombreado {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.315);
}
.registrarProductoSombreado:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}
