.contenido-Pro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.lista-productos {
  list-style-type: none;
  padding-left: 0;
  width: 55rem;
}
.format-producto {
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
}
.format-producto:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
  border-radius: 10px;
}
.opciones {
  transition: all 0.3s ease;
  width: 55rem;
  min-height: 10rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(turquoise, rgb(25, 110, 102));
  border-radius: 10px;
}
.opciones2 {
  transition: all 0.3s ease;
  width: 55rem;
  min-height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(turquoise, rgb(25, 110, 102));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nombreProducto {
  word-break: break-word;
  max-width: 436px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.colorPro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.cantidadProducto::-webkit-scrollbar {
  width: 7px;
}
.cantidadProducto::-webkit-scrollbar-thumb {
  background-color: rgb(25, 110, 102);
  border-radius: 4px;
}

.precioUnitarioPro {
  word-break: break-word;
  max-width: 204.17px;
  max-height: 6rem;
  overflow: auto;
}

.precioUnitarioPro::-webkit-scrollbar {
  width: 7px;
}
.precioUnitarioPro::-webkit-scrollbar-thumb {
  background-color: rgb(25, 110, 102);
  border-radius: 4px;
}

.visibility2 {
  font-size: 1.5rem;
  cursor: pointer;
}
.visibility2:hover {
  background-image: linear-gradient(turquoise, rgb(25, 110, 102));
  border: 1px solid rgb(7, 124, 111);
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.descriptionPro {
  background-image: linear-gradient(rgb(46, 46, 46), black);
  color: rgb(212, 212, 212);
  text-align: justify;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2%;
  width: 55rem;
  font-size: 0.8rem;
  word-break: break-word;
}

.ButtonAgregar {
  transition: all 0.3s ease;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.315);
}
.ButtonAgregar:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}

.format-mas-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.mostrarAllPro {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.315);
}
.mostrarAllPro:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.603);
}

.crud {
  width: 15rem;
  max-width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 570px) {
  .format-producto {
    max-width: 20rem;
  }
  .opciones {
    max-width: 20rem;
    min-height: 10rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .opciones2 {
    max-width: 20rem;
    min-height: 10rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .descriptionPro {
    text-align: justify;
    width: 20rem;
  }
  .nombreProducto {
    word-break: break-word;
    width: 17rem;
  }
}
