.ColPlantillaProducto {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0% 2% 4% 0%;
}
.RowPlantillaProIns {
  font-family: "Bruno Ace", cursive;
}
.ColPlantillaInsumo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0% 0% 4% 2%;
}
.PlantillaProducto {
  transition: all 0.5s ease;
  width: 451px;
  height: 22rem;
  border: 1px solid rgb(241, 217, 179);
  border-radius: 7px;
  background-image: linear-gradient(
    to right top,
    rgb(230, 144, 17),
    rgb(216, 163, 85),
    white
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.PlantillaProducto:hover {
  cursor: pointer;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.253);
}
.PlantillaInsumo {
  transition: all 0.5s ease;
  width: 451px;
  height: 22rem;
  border: 1px solid rgb(241, 217, 179);
  border-radius: 7px;
  background-image: linear-gradient(
    to right bottom,
    white,
    rgb(216, 163, 85),
    rgb(230, 144, 17)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.PlantillaInsumo:hover {
  cursor: pointer;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.253);
}
.PlanProInDescrip {
  font-size: 2rem;
  text-align: center;
}
.cantidadProIn {
  transition: all 0.5s ease;
  text-align: center;
  background-image: linear-gradient(
    rgb(240, 137, 21),
    rgb(216, 128, 28),
    rgb(109, 31, 0)
  );
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
  color: rgb(204, 203, 203);
}
.cantidadProIn:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.377);
}
.buttonGPlant {
  transition: all 0.5s ease;
  background-color: rgb(214, 212, 212);
  border-radius: 30px;
  border: 1px solid rgb(231, 231, 231);
}
.buttonGPlant:hover {
  background-color: rgb(218, 218, 218);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.377);
}
.gestionarPlantillasLink {
  text-decoration: none;
  color: black;
}
.gestionarPlantillasLink:hover {
  color: black;
}
